body {
  margin: 0;
  background: #0b1020;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: #1b3b6f;
  border: 4px solid white;
  touch-action: none; /* IMPORTANT for iPad */
}
